header {
    background-image: url("../images/coffee-shop-1209863_1920.jpg");
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    margin: 0;
    padding:350px 160px;
    align-self: center;
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: 48px;
    margin: 0 0 8px;
}

.bg-header-container {
    background: #6c757d;
    border-radius: 50px;
    opacity: 0.8;
}

.header-horizon {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #f4623a;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

p {
    text-align: center;
    color: #fff;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 25px;
}

button {
    color: #fff;
    background-color: #f4623a;
    text-align: center;
}

.container {
    text-align: center;
    font-size: 10px;

}

.profile {
    background-color: #f4623a;
    padding: 100px;
}

.h2-profile {
    color: #fff;
}

.profile-horizon {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #fff;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.sns-icon li{
    display: inline-block;
    font-size: 40px;
    margin-right: 40px;
}

.profile-btn {
    background-color: #fff;
    color: black;
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

.service {
    padding: 60px;
}

.service-horizon {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #f4623a;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.service-explanation {
    color: #6c757d;
    font-size: 16px;
}

.category-img {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

.no-gutters {
    margin:0;
    padding:0;
  }

.download {
      background:rgb(48, 41, 41);
      padding: 60px;
}

.h2-download {
    color: #fff;
    margin-bottom: 0.5rem;
}

.download-btn {
    background-color: #fff;
    color: black;
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

.download-horizon {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #fff;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.contact {
    margin: 60px;
}

.contact-horizon {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #f4623a;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.contact-paragraph {
    color: #6c757d;
    font-size: 16px;
}

footer {
    text-align: center;
}

.biography {
    font-size: 10px;
}
.progress-layout {
    height: 20px;
    margin: 10px;

}

h5 {
    width: 100px;
}

.progress-content {
    font-size: 10px;
    text-align: left;
    margin: auto;
    padding: inherit;
}

.box {
    display: flex;
    padding:20px;
  }
  .box .img {
    margin: 0 20px 0 0;
  }
  .box:nth-child(even) {
    flex-direction: row-reverse;
  }
  .box:nth-child(even) .img {
    margin: 0 0 0 20px;
  }
  
  .text-box{
    width:calc(100% - 320px);
    text-align: center;
    align-self: center;
  }
  
  /* unrelated css */
  
  .img {
    width:300px;
    height:200px;
    background: #bbb;
    display: flex;
    font-size:36px;
    color:#fff;
    align-items:center;
    justify-content:center;
  }

  .h2-promise {
      text-align: center;
      color: #47B39D;
      padding-top: 40px;
  }

  .promise-paragraph {
      color: white;
      font-size: 20px;
  }

  .promise-container {
      background: #3B4552;
  }

  .promise-horizon {
    max-width: 1000px;
    border-width: 0.2rem;
    border-color: #f4623a;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}